[Unit]
Description=Zookeeper 3
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/kafka/bin/zookeeper-server-start.sh -daemon /usr/local/bin/kafka/config/zookeeper3.properties

[Install]
WantedBy=multi-user.target