[Unit]
Description=Zookeeper 1
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/kafka/bin/zookeeper-server-start.sh /usr/local/bin/kafka/config/zookeeper1.properties

[Install]
WantedBy=multi-user.target